APP_NAME="TesseractResearch"
APP_VERSION="1.0.0"

DEBUG=False

# development
REDIS_URL='redis://localhost:6379'

# production (Upstash)
# REDIS_URL=rediss://default:gQAAA...@relative-ostrich-128098.upstash.io:6379


# ______________DataBase________________________________________
POSTGRES_USERNAME = "postgres"
POSTGRES_PASSWORD="zeyad213"
POSTGRES_DB = "tessagent" 

POSTGRES_PORT=5432
# POSTGRES_HOST = "pgvector" #Docker local
# POSTGRES_HOST = "pgvector" #Docker local "service name from dockercompose"
DATABASE_URL="postgresql+asyncpg://postgres:zeyad213@localhost:5432/tessagent?ssl=disable"
POSTGRES_HOST = "localhost" #Local
# POSTGRES_HOST = "db.xxxx.supabase.co" #Production


# _________________Tools__________________________________________
# search
TAVILY_API_KEY=
SERPER_API_KEY=
# scraper
FIRECRAWL_API_KEY=

# 
SEARCH_MAX_RESULTS=15

STRIP_IMAGES='True'
SCRAPER_TARGET_SOURCES=5
MAX_CHARS_PER_SOURCE=16_000

# ____________________LLMs_____________________________________________
OPENAI_API_KEY=''
HUGGINGFACEHUB_API_TOKEN=

GROQ_API_KEY=

MISTRAL_API_KEY=
CEREBRAS_API_KEY=
#____________________Monitor_____________
LANGSMITH_TRACING=True
LANGSMITH_API_KEY=
LANGSMITH_PROJECT='tesseract_research'
LANGSMITH_ENDPOINT=https://api.smith.langchain.com