fastapi==0.110.0
uvicorn[standard]==0.27.1

langgraph==0.2.35
langchain-groq==0.1.5

tavily-python==0.3.3
firecrawl-py==0.0.16


sqlalchemy[asyncio]==2.0.30
asyncpg==0.29.0

alembic==1.13.1

pydantic-settings==2.2.1
python-dotenv==1.0.1

httpx==0.27.0